.gym_picture>img {
    width: 962px;
    height: 911px;
    top: -24px;
    left: -35px;
}

.gym_picture {
    width: 642px;
    height: 650px;
}

.info_block {
    width: 552px;
    align-items: flex-start;
}

.info_block p {
    font-weight: 500;
}

.info_block p div {
    display: flex;
    flex-direction: column;
}

.line {
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
}

/* marker box start */

.marker-box1 {
    top: 279px;
    left: 323px;
}

.marker-box2 {
    top: 376px;
    left: 489px;
}

.marker-box3 {
    top: 264px;
    left: 160px;
}

.marker-box4 {
    top: 353px;
    left: 412px;
}

.marker-box5 {
    top: 278px;
    left: 93px;
}

.marker-box6 {
    top: 63px;
    left: 162px;
}

.marker-box7 {
    top: 53px;
    left: 353px;
}

.marker-box8 {
    top: 174px;
    left: 485px;
}

.marker-box9 {
    top: 424px;
    left: 489px;
}

.marker-box10 {
    top: 446px;
    left: 145px;
}

.marker-box11 {
    top: 227px;
    left: 451px;
}

.marker-box12 {
    top: 405px;
    left: 425px;
}

.marker-box13 {
    top: 152px;
    left: 434px;
}

.marker-box14 {
    top: 150px;
    left: 68px;
}

.marker-box15 {
    top: 423px;
    left: 358px;
}

.marker-box16 {
    top: 501px;
    left: 360px;
}

.marker-box17 {
    top: 475px;
    left: 411px;
}

.marker-box18 {
    top: 453px;
    left: 77px;
}

/* marker box end */

/* line start */


.line1 {
    top: 5px;
    left: 10px;
}

.line2 {
    bottom: 2px;
    left: 10px;
}

.line3 {
    left: 10px;
    top: 6px;
}

.line4 {
    left: 10px;
    bottom: 0px;
}

.line5 {
    left: 10px;
    top: 4px;
}

.line6 {
    left: 10px;
    top: 5px;
}

.line7 {
    left: 9px;
    top: 5px;
}

.line8 {
    left: 10px;
    top: 3px;
}

.line9 {
    left: 10px;
    bottom: 3px;
}

.line10 {
    left: 11px;
    bottom: 7px;
}

.line11 {
    left: 13px;
    top: 5px;
}

.line12 {
    left: 8px;
    bottom: 1px;
}

.line13 {
    left: 9px;
    top: 3px;
}

.line14 {
    left: 10px;
    top: 5px;
}

.line15 {
    left: 8px;
    bottom: 4px;
}

.line16 {
    left: 10px;
    bottom: 3px;
}

.line17 {
    left: 10px;
    bottom: 3px;
}

.line18 {
    left: 10px;
    bottom: 3px;
}

@media screen and (max-width:1400px) {
    .gym_picture {
        width: 541px;
        height: 548px;
    }

    .gym_picture>img {
        width: 862px;
        height: 754px;
        top: -26px;
        left: -30px;
    }

    .main-block {
        gap: 20px;
    }

    /* marker box start */

    .marker-box1 {
        top: 230px;
        left: 274px;
    }

    .marker-box2 {
        top: 317px;
        left: 413px;
    }

    .marker-box3 {
        top: 223px;
        left: 134px;
    }

    .marker-box4 {
        top: 236px;
        left: 86px;
    }

    .marker-box5 {
        top: 299px;
        left: 348px;
    }

    .marker-box6 {
        top: 53px;
        left: 135px;
    }

    .marker-box7 {
        top: 44px;
        left: 298px;
    }

    .marker-box8 {
        top: 147px;
        left: 410px;
    }

    .marker-box9 {
        top: 358px;
        left: 408px;
    }

    .marker-box10 {
        top: 374px;
        left: 121px;
    }

    .marker-box11 {
        top: 193px;
        left: 380px;
    }

    .marker-box12 {
        top: 341px;
        left: 358px;
    }

    .marker-box13 {
        top: 128px;
        left: 366px;
    }

    .marker-box14 {
        top: 124px;
        left: 61px;
    }

    .marker-box15 {
        top: 353px;
        left: 298px;
    }

    .marker-box16 {
        top: 421px;
        left: 302px;
    }

    .marker-box17 {
        top: 401px;
        left: 348px;
    }

    .marker-box18 {
        top: 383px;
        left: 64px;
    }

    /* marker box end */

    .line1 {
        top: 5px;
        left: 15px;
    }

    .line2 {
        bottom: 12px;
    }

    .line3 {
        left: 10px;
        top: 5px;
        bottom: auto;
    }

    .line4 {
        left: 10px;
        top: 3px;
        bottom: auto;
    }

    .line5 {
        top: -40px;
    }

    .line8 {
        left: 11px;
        top: 5px;
    }

    .line9 {
        left: 16px;
        bottom: 12px;
    }

    .line11 {
        top: 10px;
    }

    .line12 {
        left: 6px;
        bottom: 5px;
    }

    .line16 {
        left: 10px;
        bottom: 10px;
    }

    .line17 {
        left: 10px;
        bottom: 10px;
    }
}

@media screen and (max-width:1200px) {
    .main-block {
        height: 760px;
        padding: 30px 8px;
    }

    .gym_picture {
        width: 365px;
        height: 370px;
    }

    .gym_picture>img {
        width: 407px;
        height: fit-content;
        left: -28px;
        top: -23px;
    }

    .info_block {
        width: calc(100% - 34px);
        top: 527px;
    }

    .marker-box1 {
        top: 156px;
        left: 183px;
    }

    .marker-box2 {
        top: 212px;
        left: 278px;
    }

    .marker-box3 {
        top: 150px;
        left: 86px;
    }

    .marker-box4 {
        top: 158px;
        left: 49px;
    }

    .marker-box5 {
        top: 200px;
        left: 234px;
    }

    .marker-box6 {
        top: 33px;
        left: 88px;
    }

    .marker-box7 {
        top: 29px;
        left: 201px;
    }

    .marker-box8 {
        top: 98px;
        left: 277px;
    }

    .marker-box9 {
        top: 240px;
        left: 274px;
    }

    .marker-box10 {
        top: 251px;
        left: 81px;
    }

    .marker-box11 {
        top: 128px;
        left: 255px;
    }

    .marker-box12 {
        top: 229px;
        left: 243px;
    }

    .marker-box13 {
        top: 85px;
        left: 247px;
    }

    .marker-box14 {
        top: 87px;
        left: 39px;
    }

    .marker-box15 {
        top: 238px;
        left: 201px;
    }

    .marker-box16 {
        top: 283px;
        left: 205px;
    }

    .marker-box17 {
        top: 269px;
        left: 232px;
    }

    .marker-box18 {
        top: 257px;
        left: 41px;
    }


    .line1 {
        top: 8px;
        left: 10px;
    }

    .line2 {
        left: auto;
        right: -15px;
        top: 7px;
    }

    .line3 {
        left: 7px;
        bottom: auto;
        top: 5px;
    }

    .line4 {
        left: 10px;
        right: auto;
        top: 7px;
    }

    .line5 {
        top: 7.5px;
        bottom: auto;
        right: 7.5px;
        left: auto;
    }

    .line8 {
        left: auto;
        right: 7px;
        bottom: auto;
        top: 7px;
    }

    .line9 {
        left: auto;
        right: 7px;
        bottom: auto;
        top: 5px;
    }

    .line10 {
        top: 7px;
        bottom: auto;
    }

    .line11 {
        left: auto;
        right: 7px;
        bottom: auto;
        top: 7px;
    }

    .line12 {
        left: auto;
        right: 7px;
        top: 7px;
    }

    .line13 {
        left: auto;
        right: 7px;
        top: 3px;
    }

    .line15 {
        left: 8px;
        bottom: auto;
        top: 7px;
    }

    .line16 {
        left: 7px;
        top: 7px;
        bottom: auto;
    }

    .line17 {
        left: auto;
        right: 7px;
        bottom: auto;
        top: 7px;
    }

    .line18 {
        left: 7.5px;
        bottom: auto;
        top: 7px;
    }
}