@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: #F8F7FC;
    padding: 150px 260px 80px 260px;
}

.main-block {
    background-image: url(img/mainBg.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: center;
    padding: 65px 80px 75px 100px;
    overflow: hidden;
}

.main-block h2 {
    font-size: 38px;
    font-weight: bold;
}

.main_left {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.main_right {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 85px;
}

.gym_picture {
    width: 609px;
    height: 650px;
    position: relative;
}

.main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gym_picture>img {
    width: 929px;
    height: 911px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

.main_left-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.main_left-info>span {
    font-size: 14px;
    color: #000000;
    opacity: 40%;
    max-width: 265px;
}

.marker {
    width: 30px;
    height: 30px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.main_left-info .marker {
    position: relative;
}

.marker-item {
    width: 18px;
    height: 18px;
    background: #727272;
    border: 2px solid #FF4141;
    z-index: 9999999999999;
    opacity: 1;
    border-radius: 50%;
}

.marker-animation {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    top: 0;
    background: #727272;
    border: 1px solid #FF4141;
    opacity: 0.7;
    border-radius: 50%;
    display: block;
    animation: pulse 1400ms ease-out infinite;
}

/* 
.marker-animation_active {
    display: block;
    animation: pulse 1400ms ease-out infinite;
} */

@keyframes pulse {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

.info_block {
    width: 100%;
    padding: 23px 26px;
    border-radius: 20px;
    border-left: 4px solid #727272;
    margin-top: 40px;
    display: none;
    align-items: center;
    gap: 18px;
    box-shadow: 0 0 50px #00000019;
}

.info_block img {
    width: 45px;
    height: 45px;
}

.info_block_active {
    display: flex;
}

.info_block-left {
    width: 84px;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #727272;
    border-radius: 10px;
}

.info_block p {
    max-width: 393px;
    font-weight: 600;
    font-size: 16px;
}

.marker-box1 {
    left: 348px;
    top: 92px;
}

.marker-box2 {
    left: 293px;
    top: 330px;
}

.marker-box3 {
    top: 260px;
    left: 260px;
}

.marker-box4 {
    left: 278px;
    top: 100px;
}

.marker-box5 {
    left: 464px;
    top: 386px;
}

.marker-box6 {
    left: 285px;
    top: 35px;
}

.marker-box7 {
    left: 215px;
    top: 291px;
}

.marker-box8 {
    left: 537px;
    top: 421px;
}

/* line */

.marker-box {
    position: relative;
    z-index: 111;
}

.line {
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    z-index: 11;
}

.line1 {
    top: 10px;
}

.line2 {
    top: auto;
    bottom: -15px;
    left: 5px;
}

.line3 {
    left: 10px;
    top: -5px;
}

.line5 {
    top: auto;
    bottom: -30px;
}

.line6 {
    top: 5px;
}

.line7 {
    top: auto;
    bottom: -20px;
}

.line8 {
    top: auto;
    bottom: -20px;
}

.line img {
    opacity: 0;
}

.line1 img {
    width: 333.5px;
    height: 209.5px;
}

.line2 img {
    width: 379px;
    height: 66px;
    transform: rotate(-4deg);
}

.line3 img {
    width: 414px;
    transform: rotate(-4deg);
}

.line4 img {
    width: 404px;
}

.line5 img {
    width: 220px;
    transform: rotate(-5deg);
}

.line6 img {
    width: 397.5px;   
}

.line7 img {
    width: 467px;
    transform: rotate(-3deg);
}

.line8 img {
    width: 147px;
    transform: rotate(-4deg);
}

.marker-box9 {
    left: 420px;
    top: 550px;
}

.line9 img {
    width: 269px;
    transform: rotate(-3deg);
}

.line9 {
    top: auto;
    bottom: -22px;
}

.marker-box10 {
    left: 282px;
    top: 570px;
}

.line10 {
    top: auto;
    bottom: -22px;
    height: 274px;
}

.line10 img {
    width: 404.5px;
    transform: rotate(-3deg);
}

.marker-box11 {
    left: 37px;
    top: 460px;
}

.marker-box12 {
    left: 255px;
    top: 150px;
}

.line12 img {
    width: 431.5px;
}

.marker-box13 {
    top: 575px;
    left: 533px;
}

.line13 {
    top: auto;
    bottom: -22px;
}

.line13 img {
    width: 158px;
    transform: rotate(-3deg);
}

.line11 {
    top: auto;
    bottom: -22px;
}

.line11 img {
    width: 650px;
    transform: rotate(-1deg);
}

.line_active_right {
    animation: lineAfter .5s ease-out forwards;
}

.line_active_right img {
    opacity: 1;
}

@keyframes lineAfter {
    0% {
        width: 0px;
    }

    100% {
        width: 650px;
    }
}