@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background: #F8F7FC;
    padding: 50px;
}

.main-block {
    background-image: url(img/mainBg.png);
    background-size: cover;
    width: 1400px;
    height: 871px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: center;
    padding: 65px 80px 75px 100px;
    overflow: hidden;
}

.main-block h2 {
    font-size: 38px;
    font-weight: bold;
}

.main_left {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.main_right {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 85px;
    z-index: 111;
}

.gym_picture {
    width: 609px;
    height: 650px;
    position: relative;
}

.main img {
    object-fit: cover;
}

.gym_picture>img {
    width: 929px;
    height: 911px;
    position: absolute;
    left: -33px;
    top: -25px;
    z-index: 0;
}

.main_left-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.main_left-info>span {
    font-size: 14px;
    color: #000000;
    opacity: 40%;
    max-width: 265px;
}

.marker {
    width: 30px;
    height: 30px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.main_left-info .marker {
    position: relative;
}

.marker-item {
    width: 18px;
    height: 18px;
    background: #727272;
    border: 2px solid #FF4141;
    z-index: 9999999999999;
    opacity: 1;
    border-radius: 50%;
}

.marker-animation {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    top: 0;
    background: #727272;
    border: 1px solid #FF4141;
    opacity: 0.7;
    border-radius: 50%;
    display: block;
    animation: pulse 1400ms ease-out infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

.info_block {
    width: 551px;
    padding: 23px 26px;
    border-radius: 20px;
    border-left: 4px solid #727272;
    margin-top: 40px;
    display: none;
    display: flex;
    align-items: center;
    gap: 18px;
    box-shadow: 0 0 50px #00000019;
    background: #fff
}

.info_block img {
    width: 45px;
    height: 45px;
}

.info_block_active {
    display: flex;
}

.info_block-left {
    width: 84px;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #727272;
    border-radius: 10px;
}

.info_block p {
    max-width: 393px;
    font-weight: 600;
    font-size: 16px;
}

.marker-box {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 111;
}

.marker-box1 {
    top: 70px;
    left: 317px;
}

.marker-box2 {
    top: 314px;
    left: 259px;
}

.marker-box3 {
    top: 234px;
    left: 226px;
}

.marker-box4 {
    top: 79px;
    left: 250px;
}

.marker-box5 {
    top: 354px;
    left: 428px;
}

.marker-box6 {
    top: 9px;
    left: 252px;
}

.marker-box7 {
    top: 287px;
    left: 181px;
}

.marker-box8 {
    top: 401px;
    left: 511px;
}

.marker-box9 {
    top: 528px;
    left: 392px;
}

.marker-box10 {
    top: 534px;
    left: 249px;
}

.marker-box11 {
    top: 432px;
    left: 4px;
}

.marker-box12 {
    top: 137px;
    left: 222px;
}

.marker-box13 {
    top: 542px;
    left: 500px;
}

/* line */


.line {
    position: absolute;
    overflow: hidden;
    z-index: 11;
    display: none;
}

.line1 {
    animation: lineAfter .5s ease-out forwards;
    top: 0px;
    left: 2px;
}

.line2 {
    bottom: 8px;
    left: 10px;
    top: auto;
}

.line3 {
    left: 5px;
    top: 0.5px;
}

.line4 {
    left: 3px;
    top: 0;
}

.line5 {
    left: 3px;
    bottom: 0;
}

.line6 {
    left: 5px;
    top: 0px;
}

.line7 {
    left: 4px;
    bottom: 0px;
}

.line8 {
    left: 0px;
    bottom: 0px;
}

.line9 {
    left: 4px;
    bottom: 1px;
}

.line10 {
    left: 4.5px;
    bottom: 0px;
}

.line11 {
    left: 13px;
    bottom: 0px;
}

.line12 {
    left: 3px;
    top: 1px;
}

.line13 {
    left: 6px;
    bottom: 2px;
}

.line img {
    width: fit-content;
    height: fit-content;
}

.line_active_right {
    display: block;
    animation: lineAfter .5s ease-out forwards;
}

@keyframes lineAfter {
    0% {
        width: 0px;
    }

    100% {
        width: 650px;
    }
}
